.App {
background: #F6F7F9;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ......... Select Component library */
.css-1jqq78o-placeholder{
  color: #90A3BF !important ;
  font-weight: 500;
  padding: 0;
}
.css-13cymwt-control{
  border:none !important;
  outline: none;
}
.css-1u9des2-indicatorSeparator{
  display: none !important;
 
}
.css-1xc3v61-indicatorContainer{
  padding: 0 !important;
}
.css-1fdsijx-ValueContainer{
  padding: 0 !important;
}
.css-1fdsijx-ValueContainer{
  padding: 0 !important;
  size: 12px !important;
}
/* ....................... */

